<div class="view container">
    <div class="container">
        <div class="studentView">
            <h3>Student Details</h3>
            <div class="row  d-flex">
                <input type="text" placeholder="student name" [(ngModel)]="inputID" class="center-block">
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Student ID</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Student Course</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{mappedID.sid}} </td>
                        <td>{{mappedID.sname | uppercase}} </td>
                        <td>{{mappedID.scourse | uppercase}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <br>
    <div class="container col-lg-20 buttons text-center" >
        <button type="submit" scope="col" class="btn btn-outline-light" (click)="displayDetails()">View student</button>
        <a routerLink="/edit" class="mx-2">
            <button type="submit" scope="col" class="btn btn-outline-warning">Edit student</button>
        </a>

        <a href="" routerLink="/">
            <button type="button" class="btn btn-outline-info">Go Back</button>
        </a>
    </div>
    <br>

</div>