.card{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDCIQhBFvy39pOxgX4jG7BgFisglGbFlr6Hw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}
.Sdetails{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCCS2cAJeASqZsXee8zSB_CYBa0VU3b-AKVw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    height:fit-content; 

}

p{
    text-align: center;
    color: red;
    font-family: fantasy;
    font-style: italic;
    font-size: large;
}

.container{
    float: left;  
}