/* .student{
    border: solid 5px;
    background-color: #a1c9bd;
    width: 531px;
    height: 623px;
}
input{
    margin-top: 3%;
    width: 100%;
}
::placeholder{
    text-align: center;
}
button{
    margin-top: 4%;
    margin-left: 37%;
}

h1{ 
   color: blue;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align:center;
   text-decoration: underline;
}

img{
    width: 100%;
    opacity: 50%;
}

.reset{
    text-decoration: none;
    margin-left: 2%;
} */

.card{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDCIQhBFvy39pOxgX4jG7BgFisglGbFlr6Hw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}
.Sdetails{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCCS2cAJeASqZsXee8zSB_CYBa0VU3b-AKVw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    height:fit-content; 

}

p{
    text-align: center;
    color: red;
    font-family: fantasy;
    font-style: italic;
    font-size: large;
}

.container{
    float: left;
}